@font-face {
  font-family: "Space Mono";
  src: url(fonts/SpaceMono-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anton";
  src: url(fonts/Anton-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-light: #F8F8F8;
  --color-baige: #fdf1d9;
  --color-turquoise: #c5d6d1;
  --color-grey: #807f7f;
  --color-dark: #202020;
  --color-dark-alternate: #1D1D1B;

  --border: 1px solid var(--color-dark);

  --font-family-base: "Space Mono", sans-serif;
  --font-family-accent: "Anton", sans-serif;

  --transition-duration: 0.2s
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: clamp(18px, 0.94vw, 22px);
  line-height: 1.33;
  background-color: var(--color-light);
  color: var(--color-dark);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-accent);
  font-weight: 400;
  text-transform: uppercase;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
}

strong {
  font-weight: inherit;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none; /* Helps with consistency */
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

select {
  -webkit-appearance: none; /* For Chrome, Safari, and Opera */
  -moz-appearance: none;    /* For Firefox */
  appearance: none;         /* Standard property */
  background: none;         /* Optional: removes any default background image or color that might remain in some cases */
  /* Optional: removes extra padding in some browsers */
  padding-right: 0;
  /* Ensure a consistent cursor */
  cursor: pointer; 
}

/* For Internet Explorer 10+ */
select::-ms-expand {
  display: none;
}

.header-extra {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  background-color: var(--color-dark-alternate);
  color: var(--color-light);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  background-color: var(--color-light);
  border: var(--border);
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: calc(100% - 99px);
  padding-inline: 40px;
}

.header-menu-list-first,
.header-menu-list-second {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80px;
}

.header-menu-list-first {
  column-gap: 47px;
}

.header-menu-list-second {
  column-gap: 23px;
}

.header-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-dark);
  height: 50px;
}

.header-menu-link:hover {
  color: var(--color-grey);
}

.is-current {
  position: relative;
}

.is-current::after {
  content: "";
  position: absolute;
  top: 60%;    
  left: 50%;
  transform: translateX(-50%);
  width: 140%;
  height: 20px;      
  display: block;    
  background-color: black;
  mask: url('./icons/text-line.svg') no-repeat center / contain;
  -webkit-mask: url('./icons/text-line.svg') no-repeat center / contain;
  transition: background-color 0.3s ease;
}

.is-current:hover::after {
  background-color: var(--color-grey);
}

.header-menu-link:not(.is-current) {
  color: var(--color-grey);
}

.header-logo-image {
  width: 165px;
  flex-shrink: 0;
  margin: 20px;
}

.header-star-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: none;
  border: var(--border);
  padding-top: 0;
  background-color: inherit;
}

.header-star-button:hover {
  color: var(--color-grey);
}

.banner-list {
  position: relative;
  display: flex;
}

.banner-background {
  position: relative;
  width: 50%;
  object-fit: cover;
  margin-top: -140px;
  z-index: -1;
}

.banner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 85px;
  height: 65px;
  background-color: #FBED81;
}

.left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.banner-list-body {
  display: flex;
  justify-content: start;
  position: relative;
  padding-block: 280px;
  width: 50%;
}

.banner-crumbs {
  position: absolute;
  width: 960px;
  height: 937px;
  margin-left: -165px;
  margin-top: -340px;
}

.banner-list-body-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 130px;
}

.banner-title {
  font-size: 120px;
}

.banner-quality-logo {
  position: absolute;
  top: -92px;
  left: 235px;
}

.with-love-logo {
  position: absolute;
  top: 420px;
  left: 118px;
}

.quality-line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100vw;
  border: var(--border);
}

.catalog-blands-list {
  display: flex;
  width: 100vw;
  height: auto;
  background-color: var(--color-baige);
}

.catalog-blands-body {
  position: relative;
  width: 50vw;
  box-sizing: border-box;
  padding-left: 93px;
  padding-right: 50px;
  padding-block: 80px;
  border: var(--border);
}

.catalog-blands-body p {
  white-space: normal;
}

.catalog-blands-title {
  font-size: 2.6vw;
  line-height: 1.2;
  margin-bottom: 30px;
  white-space: nowrap;
  
}

.stroke {
  position: relative;
  display: inline-block;
}

.stroke::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 110%;
  background: url(./images/stroke2.png) center/contain no-repeat;
}

.view-more-link {
  font-family: var(--font-family-accent);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.view-more-link::after {
  content: "";
  display: inline-block;
  height: 25px;
  width: 28px;
  background: url(./images/arrow-right-little.png) center/contain no-repeat
}

.view-more-link:hover {
  color: var(--color-grey);
}

.catalog-blands-link {
  margin-top: 50px;
}

.product-items {
  display: flex;
}

.product-item {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 480px;
  border: var(--border);
  padding-top: 41px;
  padding-bottom: 35.5px;
  padding-inline: 43px;
  text-decoration: none;
  color: var(--color-dark);
}

.product-item:hover {
  background-color: var(--color-grey);
}

.product-item-description {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 5px;
  margin-top: 35.5px;
}

.product-item-price {
  font-family: var(--font-family-base);
  line-height: 1,2;
  font-weight: 400;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 39.17vw;
  color: var(--color-light);
  background: url(./images/section-coffee.jpg) center/cover no-repeat;
}

.hero-title {
  font-size: 5.21vw;
  text-align: center;
}

.feedback {
  display: flex;
}

.feedback-body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-light);
  z-index: 2;
}

.feedback-body-stars {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-block: 28px;
}

.star {
  width: 20.5px;
  height: auto;
}

.feedback-body-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-family-accent);
  font-size: 1.82vw;
  text-transform: uppercase;
  text-align: center;
  color: #202020;
  white-space: nowrap;
}

.feedback-body-text cite {
  font-family: var(--font-family-base);
  font-size: 0.94vw;
  text-align: center;
  text-transform: none;
  margin-top: 53px;
  margin-bottom: 72px;
  color: #202020;
  z-index: 2;
}

.feedback-body-buttons-list {
  display: flex;
  justify-content: center;
  gap: clamp(20px, 3vw, 30px);
}

.feedback-body-buttons-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background-color: transparent;
  border: none;
}

.feedback-body-buttons-item::after {
  content: "";
  height: 8px;
  aspect-ratio: 1;
  border: var(--border);
  transition-duration: var(--transition-duration);
}

.feedback-body-buttons-item.current-button::after {
  background-color: var(--color-dark);
}

.feedback-image {
  position: relative;
  object-fit: cover;
  z-index: 1;
}

.feedback-body,
.feedback-image {
  width: 50%;
  height: auto;
}

.coffee-cafes-info-list {
  display: flex;
  border: var(--border);
}

.coffee-cafes-info-list li {
  display: flex;
}

.cofee-cafes-info-item {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 75px;
}

.cofee-cafes-info-item span {
  display: inline-block;
  transform: rotate(-90deg);
  font-family: var(--font-family-accent);
  font-size: 50px;
  white-space: nowrap;
  width: 6.25vw;
}

.cofee-cafes-info-item-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 100px;
  height: auto;
}

.cofee-cafes-info-item-main-image {
  width: 50vw;
  height: auto;
  margin-inline: 60px;
}

.cofee-cafes-info-item-main-body-container {
  position: relative;
  height: auto;
  margin-block: 40px;
}

.cofee-cafes-info-item-main-body {
  top: 1.3vw;
}

.cofee-cafes-info-item-main-body-title {
  font-family: var(--font-family-accent);
  font-size: 25px;
}

.cofee-cafes-info-item-main-body-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  white-space: nowrap;
  margin-top: 25px;
  margin-bottom: 55px;
}

.cofee-cafes-info-item-main-body-text a {
  text-decoration: none;
  color: inherit;
}

.coffee-cafes-info-timetable {
  margin-top: 35px;
}

.button-black {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  width: 155px;
  height: 59px;
  font-family: var(--font-family-accent);
  font-size: 17px;
  letter-spacing: 0.08em;
  line-height: 100%;
  color: var(--color-light);
  background: url(./icons/button-black.svg);
  border: none;
}

.button-black::after {
  content: '';
  background: url(./icons/button-crumbs.svg);
  position: absolute;
  width: 153px;
  height: 140px;
}

.button-black:hover {
  color: var(--color-grey);
}

.catalog-blands-main-title {
  font-size: 70px;
  line-height: 114%;
  padding-left: 50px;
}

.catalog-blands-main-title h2 {
  font-size: 3.65vw;
  white-space: nowrap;
}

.catalog-blands-main .product-items {
  display: flex;
  border: var(--border);
}

.product-new,
.product-sold {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-accent);
  font-size: 18px;
  top: 15px;
  right: 0;
  padding-inline: 19px;
  padding-block: 4px;
  letter-spacing: 1px;
}

.product-new {
  color: var(--color-dark);
  background-color: #FBED81;
}

.product-sold {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.about-us {
  background-color: var(--color-baige);
  display: flex;
}

.about-us-food {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: var(--border);
  justify-content: space-between;
}

.about-us-food-title {
  font-size: 70px;
  margin-right: 128px;
  white-space: nowrap;
}

.about-us-food-image {
  margin-bottom: 40px;
  width: 315px;
  height: auto;
}

.about-us-features {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-us-features-item {
  display: flex;
  border: var(--border);
  padding-block: 45px;
  padding-left: 60px ;
  justify-content: space-between;
}

.about-us-features-item-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  white-space: nowrap;
}

.about-us-features-item-title {
  font-size: 35px;
}

.about-us-features .view-more-link {
  margin-right: 33px;
}

.reserve {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 42px;
  width: 100vw;
  height: 467px;
  background: url(./images/crumbs-long.png) center / contain no-repeat;
}

.reserve-form {
  position: relative;
  display: flex;
  gap: 35px;
}

.reesrve-form-input-wrapper {
  position: relative;
  width: 345px;
  height: 37px;
}

.reesrve-form-input-wrapper::after {
  content: "";
  position: absolute;
  background: url(./icons/arrow-down.svg) center / contain no-repeat;
  width: 18px;
  height: 10.5px;
  margin-left: -20px;
  margin-top: 10px;
}

.reserve-form-title {
  font-size: 50px;
}

.reserve-form-input { 
  width: 100%;
  height: 100%;
  border: none;
  background: inherit;
  cursor: pointer;
  border-bottom: var(--border);
}

.reserve-form-input:hover {
  border-bottom: 1px solid var(--color-grey);
} 

.reserve-form-powered {
  position: absolute;
  font-size: 12px;
  margin-top: 50px;
}

.team {
  border-block: var(--border);
}

.team-title {
  font-size: 70px;
  margin-block: 33px;
  margin-left: 50px;
}

.team-list {
  display: flex;
}

.team-worker {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: var(--border);
  padding-block: 40px;
  padding-inline: 38px;
}

.team-worker-photo {
  border-radius: 10px;
  width: 245px;
  height: auto;
}

.team-worker-name {
  font-size: 25px;
  margin-top: 19px;
}

.team-worker-job {
  margin-top: 1px;
}

.blog {
  display: flex;
  white-space: nowrap;
}

.blog-intro {
  position: relative;
  padding-top: 52px;
  padding-left: 60px;
}

.blog-intro-title {
  font-size: 70px;
  margin-right: 233px;
}

.blog-intro-button {
  position: absolute;
  top: 50%;
  margin-left: 60px;
  transform: translate(-50%, -50%);
}

.blog-posts-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog-posts-item {
  display: flex;
  gap: 42px;
  padding-block: 49px;
  padding-inline: 56px;
  border: var(--border);
}

.blog-posts-body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.blog-posts-item-information {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.blog .is-current::after {
  top: 85%;
  height: 10px;
}

.blog-posts-item-title {
  font-size: 35px;
}

.blog-posts-item-link {
  position: absolute;
  bottom: 13px;
}

.barista-schools {
  display: flex;
  align-items: center;
  gap: 135px;
  padding-left: 118px;
  padding-block: 138px;
  background-color: var(--color-turquoise);
}

.barista-schools-image {
  width: 1133px;
  height: auto;
}

.barista-schools-body {
  display: flex;
  flex-direction: column;
}

.barista-schools-title {
  font-size: 35px;
  margin-bottom: 12px;
}

.barista-schools-button {
  margin-top: 58px;
}

@media(max-width: 1850px) {

  .team-list {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: center;
    align-content: center;
    border-top: var(--border);
  }

  .barista-schools {
    gap: 50px;
    padding-left: 40px;
  }

}

@media(max-width: 1650px) {
  .blog-intro-title {
    margin-right: 90px;
  }

  .barista-schools {
    flex-direction: column;
  }

    .barista-schools {
      align-items: center;
      justify-content: center;
      padding-inline: 10px;
      padding-block: 60px;
  }
}

@media(max-width: 1600px) {
  .cofee-cafes-info-item {
    align-items: center;
    padding-bottom: 0;
  }

  .cofee-cafes-info-item span {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg);
    height: 6.25vw;
    width: 100vw;
    margin-block: 23px;
    text-align: center;
  }

  .cofee-cafes-info-item-main {
    justify-content: start;
  }

  .cofee-cafes-info-item-main-image {
    width: 950px;
  }

  .coffee-cafes-info-list {
    flex-direction: column-reverse;
  }
}

@media(max-width: 1500px) {
  .blog {
    flex-direction: column;
  }

  .blog-intro-button {
    position: static;
    margin-top: 65px;
  }
}

@media(max-width: 1400px) {
  .banner-list-body-container {
    margin-left: 80px;
  } 

  .catalog-blands-body {
    padding-left: 40px;
    padding-bottom: 0;
  }
  
  .product-item {
    justify-content: start;
  }

  .cofee-cafes-info-item span {
    font-size: 2.6vw;
  }

  .cofee-cafes-info-item-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 0;
  }

  .cofee-cafes-info-item-main-image {
    width: 99.48vw;
  }

  .cofee-cafes-info-item-main-body {
    position: relative;
  }

  .cofee-cafes-info-item-main-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cofee-cafes-info-item-main-body .button-black{
    margin-bottom: 20px;
  }

  .reserve {
    margin-block: 30px;
  }

  .reserve-form {
    flex-direction: column;
    gap: 40px;
  }
}

@media(max-width: 1276px) {
  .banner-list {
    flex-direction: column-reverse;
  }

  .banner-background,
  .banner-list-body {
    width: 100%;
  }
  
  .banner-background {
    height: 40vh;
  }

  .banner-list-body {
    justify-content: center;
  }

  .with-love-logo {
    margin-top: 0px;
    margin-left: 0px;
  }

  .catalog-blands-list {
    flex-direction: column;
  }

  .catalog-blands-body {
  position: relative;
  width: 100vw;
  box-sizing: border-box;
  padding-left: 93px;
  padding-right: 50px;
  padding-block: 80px;
  border: var(--border);
  }

  .catalog-blands-title {
    font-size: 4vw;
  }

  .catalog-blands-body p {
    font-size: 1.5vw;
  }

  .feedback {
    flex-direction: column;
  }

  .feedback-body {
    width: 100vw;
    padding-block: 50px;
  }

  .feedback-body-text {
    font-size: 3.5vw;
  }

  .feedback-body-text cite {
    font-size: 1.8vw;
  }

  .feedback-image {
    width: 100vw;
    object-fit: cover;
    margin-top: -265px;
    z-index: -1;
  }

  .catalog-blands-main .product-items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 480px));
    justify-content: center;
  }

  .about-us {
    flex-direction: column;
  }
  
  .about-us-food {
    align-items: start;
  }

  .about-us-food-title {
    font-size: 8vw;
  }

  .about-us-food-image {
    margin-bottom: 20px;
    width: 315px;
  } 

  .about-us-features-item {
    display: flex;
    flex-direction: column;
  }

  .about-us-features .view-more-link {
    margin-top: 20px;
  }

}

@media(max-width: 1276px) {
  .team-list {
    grid-template-columns: repeat(2, minmax(0, 320px));
  }
}

@media(max-width: 940px) {
  .blog-posts-item {
    flex-direction: column;
  }

  .blog-posts-item-link {
    position: static;
    margin-top: 20px;
  }
}

@media(max-width: 650px) {
  .header {
    position: relative;
  }

  .header-menu {
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .header-menu-link {
    font-size: 22px;
  }

  .header-logo {
    order: -1;
  }

  .header-logo-image {
    width: 250px;
  }

  .header-star-button {
    position: relative;
    width: 50%;
    object-fit: cover;
    margin-top: -140px;
    z-index: -1;
  }
}

@media(max-width: 580px) {
  .header-menu-link {
    font-size: 27px;
  }
}

@media(max-width: 515px) {
  .header-menu {
    padding: 0;
  }

  .header-menu-list-first,
  .header-menu-list-second {
    flex-direction: column;
  }

  .header-menu-link {
    font-size: 50px;
    margin: 40px;
  }

  .header-logo-image {
    margin: none;
    margin-top: 20px;
  }
}